
    <style>
        body{
            background-color: #F1EFF8;
        }
        .item-button-right>.button{
            top: 62px;
            right: 6px;
        }
    </style>
<ion-header-bar class="bar-positive">
    <button class=" button button-clear icon ion-ios-arrow-left" ui-sref="^.center"></button>
    <h2 class="title">我的电子书</h2>
</ion-header-bar>
<ion-content>
    <ion-list >
        <ion-item class="item-thumbnail-left item-button-right">
            <img src="img/page6-1 .png" alt="" >
            <h2>《青春的足迹》</h2>
            <p>王一梅童话系列 注音版一年级课外书二年级必读王一梅童话系列 </p>
            <p>  注音版一年级课外书二年级必读</p>
                <button class="button button-energized" ui-sref="^.xq">下载</button>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item class="item-thumbnail-left item-button-right">
            <img src="img/page6-2.png" alt="">
            <h2>《玛蒂的勇气》</h2>
            <p>冰心奖获奖系列儿童文学少年励志文学馆</p>
            <p>第四辑全六册</p>
            <button class="button button-energized">下载</button>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item class="item-thumbnail-left item-button-right">
            <img src="img/page6-3.png" alt="">
            <h2>《恰到好处的生活》</h2>
            <p>两色风景作品 亿万阅读 千万点赞 散文随笔</p>
            <p>现当代随笔千万点赞 亿万阅读</p>
            <button class="button button-energized">下载</button>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item class="item-thumbnail-left item-button-right">
            <img src="img/page6-4.png" alt="">
            <h2>《木偶奇遇记》</h2>
            <p>长鼻子木偶皮诺基奥是一个神奇的木偶，能走能跑能调，</p>
            <p>会说会笑会哭,这是老杰佩托用一段</p>
            <p>极其普通的木头雕成的</p>
            <button class="button button-energized">下载</button>
        </ion-item>
    </ion-list>
</ion-content>
