
    <style>
        body{
            background-color: #F1EFF8;
        }
        .list{
            background-color: #fff;
        }
        .s_list{
            padding-top: 5px;
        }
        .s_list p{
            text-indent: 2em;
            line-height: 1.5;
            padding:10px;
        }
        .list:last-child {
            margin-bottom: 18px;
        }
    </style>

<ion-header-bar class="bar-positive">
    <button class=" button button-clear icon ion-ios-arrow-left" ui-sref="^.dianzishu"></button>
    <h2 class="title">书籍详情</h2>
</ion-header-bar>
<ion-content>
   <ion-list>
       <ion-item class="item item-thumbnail-left">
           <img src="img/page6-1 .png" alt="">
           <h2>《青春的足迹》</h2>
           <p>作者：龙应台</p>
           <p>状态：完结</p>
           <p>字数：36987654字节</p>
       </ion-item>
     </ion-list>
        <ion-list class="s_list">
        <h2>简介</h2>
       <p>王继颖，河北省作家协会会员，语文高级教师。她一路追寻着花开的足迹，书写着凡尘的美好，用细腻的心思和轻盈的笔触，播撒着生命芬芳的花种。在《格言》《意林》《演讲与口才》《做人与处世》《思维与智慧》《工人日报》《中国教师报》《中国建设报》  等百余家报刊发表作品60余万字 。 《为你放弃声音的甜美》《把梦想留给别人》等被多家报刊转载，并被收入《*美文》《智慧满行囊》等青少年智慧与心灵丛书。</p>
        </ion-list>

    <ion-list class="f_list" >
        <h2>目录</h2>
        <ion-item>
            <span >第一章 序论</span>
        </ion-item>
        <ion-item>
            <span >第二章 儿童的发展基础</span>
        </ion-item>
        <ion-item>
            <span >第三章 儿童感知觉、注意的发展</span>
        </ion-item>
        <ion-item>
            <span >第四章 儿童记忆的发展</span>
        </ion-item>
    </ion-list>
</ion-content>
