<!--<!DOCTYPE html>
<html ng-app="myApp">
	<head >
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<title></title>-->
		<style type="text/css">
			.list{
			    margin-top: 60px;
			    margin-left:15px ;
			    margin-right:15px ;
			    border-radius: 15px;
			    font-size: 13px;
			}
			.list button{
				float:right
			}
			.col{
				padding-left: 18px;
			}
		</style>
	<<!--body>-->
		<!--<ion-header-bar class="bar-positive">
			<button class="button icon-left ion-chevron-left button-clear"></button>
			<h1 class="title">我的任务</h1>
		</ion-header-bar>-->
		<!--<ion-tabs class="tabs-striped tabs-color-positive">
			<ion-tab title="我的视频"></ion-tab>
			<ion-tab title="我的学习"></ion-tab>
			<ion-tab title="我的做题"></ion-tab>
		</ion-tabs>-->
		<ion-view>
	<ion-header-bar class="bar-calm" align-title="middle">
    <button class="button button-clear ion-ios-arrow-left"></button>
        
    
    <h1 class="title">在线学习</h1>
</ion-header-bar>
<div class="bar bar-subheader">
	<div class="row">
		<div class="col">我的视频</div>
		<div class="col">我的视频</div>
		<div class="col">我的视频</div>
	</div>
</div>	
		<ion-content>
			<div class="list ">
			<ion-item class="item-thumbnail-left">
				<img src="img/doc.png"/>
				01 财会<br/><br/>
				湖北会计从业资格考试
				<button class="button button-energized button-small">继续学习</button>
			</ion-item>	
			<ion-item class="item-thumbnail-left">
				<img src="img/doc.png"/>
				02外语<br/><br/>
				全国大学自主考试英语四级 六级
				<button class="button button-energized button-small">继续学习</button>
			</ion-item>
			<ion-item class="item-thumbnail-left">
				<img src="img/doc.png"/>
				03 建筑工程<br/><br/>
				全国大学自主考试英语四级 六级
				<button class="button button-energized button-small">继续学习</button>
			</ion-item>
			<ion-item class="item-thumbnail-left">
				<img src="img/doc.png"/>
				04医药卫生<br/><br/>
				全国大学自主考试英语四级 六级
				<button class="button button-energized button-small">继续学习</button>
			</ion-item>
			<ion-item class="item-thumbnail-left">
				<img src="img/doc.png"/>
				05公务员<br/><br/>
				全国大学自主考试英语四级 六级
				<button class="button button-energized button-small">继续学习</button>
			</ion-item>			
		   </div>
		</ion-content>
	</ion-view>
		<!--<ion-tabs class="  tabs-positive  tabs-icon-top">
				<ion-tab title="首页" icon-on=" ion-home" icon-off="ion-home"></ion-tab>
				<ion-tab title="我的任务" icon-on=" ion-ios-briefcase" icon-off="ion-ios-briefcase"></ion-tab>
				<ion-tab title="免费资料" icon-on=" ion-briefcase" icon-off="ion-briefcase"></ion-tab>
				<ion-tab title="个人中心" icon-on=" ion-person-stalker" icon-off="ion-person-stalker"></ion-tab>	
		</ion-tabs>-->
        