
	
		<style type="text/css">
          .list{
                margin-top: 20px; 
                font-size: 12px;     	
             }
          .item-thumbbail-left>img{
          	width: 95px;
          }  
          .list a{
          	margin-left: 13px;
          	margin-right: 13px ;
          }
           /*.item-thumbnail-left>img:first-child {
			    position: absolute;
			    top: 10px;
			    left: 10px;
			    max-width: 90px;
			    max-height: 80px;
			    width: 100%;
			    height: 100%;
			}*/
			.button{
				float:right
			}
			.item p {
			    color: #666;
			    font-size: 13px;
			    margin-bottom: 2px;
			}
			.ful{				
				list-style: none;
				width: 100%;
				height: 100%;
			}
			.ful li{
			     float: left;
			     display:inline-block;
			     width: 33%;
			     height:95% ;
			     margin-top: 5px;
			     line-height: 20px;
				 text-align: center;
				 border-radius: 1px solid #666;	
			}
			
		</style>
		<ion-view>
			<ion-header-bar class="bar-calm" align-title="middle">
    	    <i class="icon ion-left ion-chevron-left" ng-click="$ionicGoBack()"></i>
		
		    <h1 class="title">在线学习</h1>
	       </ion-header-bar>
		<div class="bar bar-subheader">
             <ul class="ful">
             	<li>我的视频</li>
             	<li>我的学习</li>
             	<li>我的做题</li>
             </ul>
        </div>	
		<ion-content class="has-header has-subheader">
			<div class="list ">
				<a class="item item-thumbnail-left" href="#">
			      <img src="img/pic7.png"> <br/>
			      <h2>专业手绘插画一对一视频教程</h2> <br/>
			       <button class="button  button-energized   button-small">继续观看</button>
			      <p>主讲老师：某某 </p>
			    </a>
			    <a class="item item-thumbnail-left" href="#">
			      <img src="img/pic8.png">
			      <br />
			      <h2>专业手绘插画一对一视频教程</h2>
			      <br/><button class="button  button-energized   button-small">继续观看</button>
			      <p>主讲老师：某某</p>
			    </a>
			    <a class="item item-thumbnail-left" href="#">
			    <img src="img/pic9.png"/> <br/>
			    <h2>商务英语中,高级专业外教培训</h2> <br/>
			    <button class="button  button-energized   button-small">继续观看</button>
			    <p>主讲老师：张奋斗</p>
			    </a>
			    <a class="item item-thumbnail-left" href="#">
			    <img src="img/pic10.png"/> <br/>
			    <h2>商务英语中,高级专业外教培训</h2> <br/>
			    <button class="button  button-energized   button-small">继续观看</button>
			    <p>主讲老师：德国ICA</p>
			    </a>
			    <a class="item item-thumbnail-left" href="#">
			    <img src="img/pic11.png"/> <br/>
			    <h2>商务英语中,高级专业外教培训</h2> <br/>
			    <button class="button  button-energized   button-small">继续观看</button>
			    <p>主讲老师：付大伟</p>
			    </a>
			</div>
		</ion-content>
		</ion-view>		
