
    <style>
        body{
            background-color: #F1EFF8;
        }
        .item-thumbnail-left, .item-thumbnail-left .item-content {
            padding-top: 8px;
            padding-left: 35px;
            min-height: 100px;
        }
        .item-thumbnail-left, .item-thumbnail-left .item-content{
            min-height: 0;
        }
        .lis{
            width: 100%;
            margin-top: -1px;
        }
        .lis a img{
            width:20px!important;
            height: 20px!important;
            top: 30px!important;
        }
        .lis a p{
            font-size: 10px!important;
        }
        .btn11{
            float: left!important;
            color: #fff!important;
        }
        .btn2{
            float: right!important;
        }
        .but{
            width: 70%;
            margin: 60px auto 20px;
        }
        .pic1{
            width: 11.5px!important;
            height: 20px!important;
        }
        .title{
            font-size: 24px!important;
        }
        .pic2{
            width: 14.5px!important;
            height: 16px!important;
        }
        .sp1{
            font-size: 14px!important;
        }
        .btn1{
            width: 20%;
            float: right
        }
        .sp2{
            color: #FF6600!important;
        }
    </style>

<ion-header-bar class="bar-calm" align-title="middle">
    <i class="item-thumbnail-left" ui-sref="^.zjlx">
        <img src="img/left.png" alt=""class="pic1">
    </i>
    <h1 class="title">章节练习</h1>
</ion-header-bar>
<ion-content>
    <ion-list>
        <ion-item>
            <img src="img/clock.png" alt="" class="pic2">
            <span class="sp1">01:59:38</span>
            <button class="button button-clear button-outline button-energized button-small btn1">1/33</button>
        </ion-item>
        <ion-item style="font-size: 10px;">
            下列成语运用哪项正确<span class="sp2">（  B  ）</span>
        </ion-item>
    </ion-list>
    <div class="list lis">
        <a href="" class="item item-thumbnail-left">
            <img src="img/yuan.png" alt="">
            <p>A、冬天老年人要增加营养，也要适当运动，在户外锻炼时一</p>
            <p>定要适可而止，以步行为宜，时间最好选在傍晚，还要注意保</p>
            <p>暖，防止着凉。</p>
        </a>
        <a href="" class="item item-thumbnail-left">
            <img src="img/dui.png">
            <p>B、时间真如行云流水，申奥成功的情景仿佛就在昨天，转眼</p>
            <p>间，举世瞩目的北京奥运会距离我们已经不到一百天了。</p>
        </a>
        <a href="" class="item item-thumbnail-left">
            <img src="img/yuan.png" alt="">
            <p>C. 有段时间，沪深股市指数波动非常大，有时一天上涨几百</p>
            <p>点，有时一天下跌几百点，涨跌幅度之大令人叹为观止</p>
        </a>
        <a href="" class="item item-thumbnail-left">
            <img src="img/yuan.png" alt="">
            <p>D、环境专家试图用向湖里放鱼的方法治理湖水污染，因为这</p>
            <p>里的渔业资源已经到了竭泽而渔的地步。</p>
        </a>
    </div>
    <div class="but">
            <button class="button button-positive btn11">上一题</button>
            <button class="button button-energized btn2">下一题</button>
    </div>
</ion-content>
