    <style>
        .lis{
            width: 100%;
            height: 100%;
        }
        .lis li{
            width: 33.3%;
            border-right: 1px solid #ccc;
            display: block;float: left;
            text-align: center;
        }
        .lis li:nth-child(3){
            border-right: none;
            text-align: center;
        }
        body{
            background-color: #F1EFF8;
        }
        .lis li button{
            font-size: 14px!important;
        }
        .lis li button img{
            width: 9px;
            height: 4.5px;
        }
        .qb{
            color: #66BEF8!important;
        }
        .km{
            color: #000!important;
        }
        .year{
            color: #000!important;
        }
        .p1{
            font-size: 12px!important;
        }
        .p2 span{
            font-size: 12px!important;
            color: #ccc;
        }
        .p2 span:nth-child(2){
            margin-left: 20px;
        }
        .p2 span:nth-child(3){
            margin-left: 60px;
        }
        .btn1{
            float: right;
            width: 50px!important;
            height: 22px!important;
            line-height: 22px;
            text-align: center;
            color: #fff!important;
            background-color: #FF9900;
        }
        .co{
            color: #FF9900!important;
        }
        .person{
            margin-top: 20px;
        }
        .pic{
            width: 11.5px!important;
            height: 20px!important;
        }
        .title{
            font-size: 24px!important;
        }
        .iom{
            padding: 2px!important;
        }
    </style>
<ion-header-bar class="bar-calm" align-title="middle">
    <i class="item-thumbnail-left" ui-sref="^.ku">
        <img src="images/left.png" alt="" class="pic">
    </i>
    <h1 class="title">历年真题</h1>
</ion-header-bar>
<ion-content>
    <ion-list>
        <ion-item class="iom">
            <ul class="lis">
                <li>
                    <button class="button button-clear qb">全部学段
                        <img src="images/xsan.png" alt="">
                    </button>
                </li>
                <li>
                    <button class="button button-clear year" >年份
                        <img src="images/san.png" alt="">
                    </button>
                </li>
                <li>
                    <button class="button button-clear km">科目
                        <img src="images/san.png" alt="">
                    </button>
                </li>
            </ul>
        </ion-item>
        <div class="list person">
            <a href="" class="item">
                <p class="p1">2013年天津市会计从业《会计电算化》真卷考试（1）</p>
                <p class="p2">
                    <span>568人做过</span>
                    <span>2016-03-03</span>
                    <span class="co">免费</span>
                    <span class="btn1">测试</span>
                </p>
            </a>
            <a href="" class="item">
                <p class="p1">2013年天津市会计从业《会计电算化》真卷考试（1）</p>
                <p class="p2">
                    <span>568人做过</span>
                    <span>2016-03-03</span>
                    <span class="co">免费</span>
                    <span class="btn1">测试</span>
                </p>
            </a>
            <a href="" class="item">
                <p class="p1">2013年天津市会计从业《会计电算化》真卷考试（1）</p>
                <p class="p2">
                    <span>568人做过</span>
                    <span>2016-03-03</span>
                    <span class="btn1">测试</span>
                </p>
            </a>
            <a href="" class="item">
                <p class="p1">2013年天津市会计从业《会计电算化》真卷考试（1）</p>
                <p class="p2">
                    <span>568人做过</span>
                    <span>2016-03-03</span>
                    <span class="btn1">测试</span>
                </p>
            </a>
            <a href="" class="item">
                <p class="p1">2013年天津市会计从业《会计电算化》真卷考试（1）</p>
                <p class="p2">
                    <span>568人做过</span>
                    <span>2016-03-03</span>
                    <span class="btn1">测试</span>
                </p>
            </a>
            <a href="" class="item">
                <p class="p1">2013年天津市会计从业《会计电算化》真卷考试（1）</p>
                <p class="p2">
                    <span>568人做过</span>
                    <span>2016-03-03</span>
                    <span class="btn1">测试</span>
                </p>
            </a>
        </div>
    </ion-list>
</ion-content>