    <style>
        body{
            background-color: #F1EFF8;
        }
        .button.button-light{
            width: 90%;
            margin: 11px auto 0;
            padding-right: 67%;
        }
        .item-thumbnail-right, .item-thumbnail-right .item-content{
            padding-top: 0px;
            padding-right: 0px;
            min-height: 0px;
        }
        .pic1{
            width: 11.5px!important;
            height: 20px!important;
        }
        .title{
            font-size: 24px!important;
        }
        .list button i img{
            width: 9.5px!important;
            height: 16px!important;
            margin-top: 4.5px!important;
        }
    </style>
<ion-header-bar class="bar-calm" align-title="middle">
    <i class="item-thumbnail-left" ng-click="$ionicGoBack()">
        <img src="images/left.png" alt="" class="pic1">
    </i>
    <h1 class="title">目录</h1>
</ion-header-bar>
<ion-content>
    <div class="list">
        <button class="button button-light button-block">会计法律
            <i class="item-thumbnail-right">
                <img src="images/right.png" alt="">
            </i>
        </button>
        <button class="button button-light button-block">会计准则
            <i class="item-thumbnail-right">
                <img src="images/right.png" alt="">
            </i>
        </button>
        <button class="button button-light button-block">会计准则
            <i class="item-thumbnail-right">
                <img src="images/right.png" alt="">
            </i>
        </button>
        <button class="button button-light button-block">会计制度
            <i class="item-thumbnail-right">
                <img src="images/right.png" alt="">
            </i>
        </button>
        <button class="button button-light button-block">会计机构
            <i class="item-thumbnail-right">
                <img src="images/right.png" alt="">
            </i>
        </button>
        <button class="button button-light button-block">会计人员
            <i class="item-thumbnail-right">
                <img src="images/right.png" alt="">
            </i>
        </button>
    </div>
</ion-content>