    <style type="text/css">
        img {
            -webkit-user-drag: none;
            width: 300px;
            height: 140px;

        }
        .list{
            margin:90px 10px 0px 10px;

        }
        .list p{
            text-indent:22px ;
            color: #666;
            margin-top: 10px;
            line-height: 23px;
        }
        .picc{
            width: 11.5px!important;
            height: 20px!important;
        }
        .list img{
            width: 340px;
            height: 140px;
            display: block;
            text-align: center;
        }
    </style>
<ion-header-bar class="bar-positive" align-title="center">
    <i class="item-thumbnail-left" ng-click="$ionicGoBack()">
        <img src="images/left.png" alt="" class="picc">
    </i>
    <h1 class="title">详情</h1>
</ion-header-bar>
<div class="bar bar-subheader">
    <h2 class="title">2016年英语四级考级公告</h2>
</div>
<ion-centent class="has-header has-subheader">
    <ion-list class="list">
        <img src="images/picf.png" class="pic"/ >
        <p>
            哦啊狗能够的方法二个发噶皮人阿福企鹅他
            的了解哈佛女阿飞到付肯定会IQ还没卡内
            基突然管接头风格让我给大概阿
            发生突然好速度方面的明天福刚阿福刚
            舒适感和汕头市大俺的份感情而真的分哈哈好像
        </p>
        <p>
            发给客户无票熬个湖泊IE教啊老夫配偶我
            个人理解哦我没付款拉扣加分飞哥付VDFD代发
            当法尔的覆盖全额隔热条个人还要
            退人员推脱发图图途锐的身份而也如法发展的vfha
            他们今天已经他不会是的法国人哈啊支付高
            放大图哥个人人额符合人体在十八大发和加盟商
            的【老地方看盘口的个人严重的愚人节让给他依然绒
            工行网上。身体有信念是法国地方高二就肯定不难受法规和进行测试服人额符人额符
        </p>
    </ion-list>

</ion-centent>
